# =====================
# Next.js
# =====================
.next/
out/

# =====================
# Node
# =====================
node_modules/

# =====================
# Python
# =====================
venv/
.env
__pycache__/
*.pyc

# =====================
# OS / Editor
# =====================
.DS_Store
.idea/
.vscode/
